* {
    margin: 0;
    padding: 0;
    font-weight: normal;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100%;
    text-decoration: none;
  }

body {
    background-color: rgb(165, 247, 165);
}

/* This covers the header title on all pages*/
.mainheader {
    background-color: rgb(65, 173, 65);
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
    margin: 15px;
    height: 120px;
    border: 5px;
    border-style: solid;
    border-color: rgb(16, 140, 16);
}

/*nav bar on all pages*/
.mainh1nav {
    color: white;
    padding-top: 20px;
    font-size:40px;
    text-align: center;
    text-shadow: 5px 3px 3px rgb(4, 128, 25);
}

a {
    text-decoration: none;
}
/* nav links to help stay in place on all pages */ 
.header-li {
    float:left;
    padding: 10px;
    color: white; 
    font-size: 20px;
    text-shadow: 5px rgb(4, 128, 25);
    text-decoration: none;
  }

/* interactions with links on nav on all pages */
header nav a:link {
    padding-left: 5px;
    padding-right: 5px;
    color:white;
    text-shadow: 5px 3px 3px rgb(4, 128, 25);
}

header nav a:visited {
    padding-left: 5px;
    padding-right: 5px;
    color:white;
    text-shadow: 5px 3px 3px rgb(4, 128, 25);
}

/* Main page div containing info to generator */
.generatordiv {
    border: 5px rgb(16, 140, 16);
    border-style: solid;
    background-color: rgb(212, 255, 221);
    border-radius: 20px;
    display: block;
    margin: 50px;
    font-size:x-large;

}
.generatordivburger {
    height: 400px;
    flex: auto;
    position: relative;
    border-radius: 40px;
    margin: 50px;
}

.h2seconddivforfrontpage {
    text-align: center;
    padding: 20px;
    text-shadow: 2px 2px 2px rgb(73, 149, 86);
}
.seconddivforfrontpage {
    width: 50%;
    float: right;
    text-align: center;
    padding: 40px;
}

/*Button To take over to Generator  */
.buttonfrontpage {
    background-color: rgb(244, 209, 121);
    border: none;
    color: rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif;
    text-shadow: rgb(219, 181, 84);
    padding: 15px 32px;
    margin: 40px;
    height: 50px;
    border: goldenrod;
    border-radius: 10px;
    border-style: dashed;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .buttonfrontpage:hover {
    border-style: solid;
    font-style: italic;
    font-weight: bold;
  }

/*This is the About section. */
/*Needs Attention*/
.aboutdiv {
    border: 5px rgb(16, 140, 16);
    border-style: solid;
    margin: 50px;
    border-radius: 20px;
    background-color: rgb(212, 255, 221);
}

.profileimg {
    height: 300px;
    flex: auto;
    position: relative;
    border-radius: 40px;
    margin: 50px;
}

.name {
    align-items: end;
}
.description-paragraphs {
    float: right;
}

/*This is the form for Contact Us*/

form {
    border: 5px rgb(16, 140, 16);
    border-style: solid;
    background-color: rgb(212, 255, 221);
    border-radius: 20px;
    display: block;
    margin: 50px;
    font-size:medium;
    padding: 30px;
}

h3 {

}

p {

}

.envelope {
    border-radius: 25px;
}


/*This is a start for the Generator */ 
.listeditems {
    display: flex;
    align-content: flex-start;
    border-style: solid rgb(4, 128, 25);
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px 0px;
}

#selector {
    width: 17%;
}

#ingredients {
    width: 365px;
}

#ingredientBtn {
    width: 189px;
}

#ingredients, #ingredientBtn, #selector {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 21px;
}

form {
    margin-top: 67px;
}
/* c */