
html {
    background-color: rgb(165, 247, 165);
}

body {
  font-family: 'Times New Roman', Times, serif;
}

/* This covers the header title on all pages*/

 #mainheader {
    background-color: rgb(65, 173, 65);
    border-radius: 40px;
    border: 5px;
    border-style: solid;
    border-color: rgb(16, 140, 16);
}

img {
  border-radius: 40px;
}

/*nav bar on all pages*/

#mainh1nav {
    color: white;
    padding-top: 20px;
    font-size:40px;
    text-align: center;
    text-shadow: 5px 3px 3px rgb(4, 128, 25);
} 

#navBar {
    color: white;
    text-shadow: 5px 3px 3px rgb(4, 128, 25);
}
/* nav links to help stay in place on all pages */ 

  #navBar:hover {
    color: rgb(250, 184, 0);
  }

/* Main page div containing info to generator */

#generatediv {
  border: 5px rgb(16, 140, 16);
  border-style: solid;
  border-radius: 20px;
  background-color: rgb(212, 255, 221);
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

#welcomediv {
  border: 5px white;
  border-style: solid;
  border-radius: 20px;
}

#welcomeContainer {
  display: grid;
  grid-template-columns: 72px 507px 66px;
  column-gap: 5px;
  align-items: center;
  justify-content: center;
 }

 @media screen and (max-width: 1023px) {
  #welcomeContainer {
    grid-template-columns: 45px 227px 74px;
  }
}

.star1, .star2 {
  width: 76px;
  height: 70px;
 }

 .star1 {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
 }


/*Button To take over to Generator  */
#navBtn {
    background-color: rgb(244, 209, 121);
    border: none;
    color: rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif;
    text-shadow: rgb(219, 181, 84);
    padding: 15px 32px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px; 
    height: 50px;
    border: goldenrod;
    border-radius: 10px;
    border-style: dashed;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;

  }

 #navBtn:hover {
    border-style: solid;
    font-style: italic;
    font-weight: bold;
  }

/*This is the About section. */
/*Needs Attention*/

#aboutdiv {
    border: 5px rgb(16, 140, 16);
    border-style: solid;
    margin: 50px;
    border-radius: 20px;
    background-color: rgb(212, 255, 221);
}

#aboutImg {
  width: 394px;
}

/*This is a start for the Generator */ 

/* border for title */
#generateT {
  border: 5px goldenrod;
  border-style: solid;
  background-color: rgb(254, 219, 95);
}

/* this comtrols placemment of title */
#generatorContainer {
  display: grid;
  grid-template-columns: 92px 412px 92px;
  column-gap: 5px;
  align-items: center;
  justify-content: center;
 }

 @media screen and (max-width: 1023px) {
  #generatorContainer {
    grid-template-columns: 76px 227px 76px;
  }
}


 
 .image1, .image2 {
  width: 76px;
  height: 98px;
 }

 .image1 {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
 }

/* border for paragraph */
#generateP {
  border: 5px rgb(16, 140, 16);
  border-style: solid;
  border-radius: 20px;
  background-color: rgb(212, 255, 221);
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* border for form */
#generateform {
  border: 5px rgb(16, 140, 16);
  border-style: solid;
  margin: 50px;
  border-radius: 20px;
  background-color: rgb(212, 255, 221);
}

/* margins for recipes */
#recipeContainer {
  margin-left: 15px;
  margin-bottom: 15px;
}

#ingredients {
    width: 365px;
}

#ingredientBtn {
    width: 189px;
}

@media screen and (max-width: 1023px) {
  #ingredients {
    width: 189px;
  }
}


#ingredients, #ingredientBtn, .form-select {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 21px;
    color: rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif;
}

/*This makes two of the buttons the same as the home page button */
#generateBtn, #groceryBtn{
    background-color: rgb(244, 209, 121);
    color: rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif;
    padding: 15px 32px;
    height: 50px;
    border: goldenrod;
    border-radius: 10px;
    border-style: dashed;
    font-size: 18px;
    float: right;
    margin-right: 15px;
    margin-top: 15px;
  }

  #generateBtn:hover {
    border-style: solid;
    font-style: italic;
    font-weight: bold;
  }

  
  #groceryBtn:hover {
    border-style: solid;
    font-style: italic;
    font-weight: bold;
  }

  @media screen and (max-width: 1023px) {
    #groceryBtn, #generateBtn, #ingredientBtn {
      width: 114px;
      height: auto;
      margin-bottom: 10px;
    }
  }
  
form {
    margin-top: 88px;
}

/* This changed the color of the selector */
select:not(:checked) { 
    background-color: rgb(244, 209, 121);
    border-radius: 10px;
    border: 0px;
    margin-bottom: 10px;
    height: 50px;
    margin-top: 117px;
}

/* this changed the color of the input element */
input {
    background-color: rgb(244, 209, 121);
    border-radius: 10px;
    border: 2px;
    height: 50px;
}

::placeholder {
    color: black;
}

/* this styled the ingredients button to be the same as the home page button */
#ingredientBtn {
    background-color: rgb(244, 209, 121);
    color: rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif;
    padding: 15px 32px;
    height: 50px;
    border: goldenrod;
    border-radius: 10px;
    border-style: dashed;
    font-size: 18px;
  }
  
  #ingredientBtn:hover {
    border-style: solid;
    font-style: italic;
    font-weight: bold;
  }

  /* this styes the ingredients list */
  #container {
    color: rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    margin-left: 31px;
    margin-top: 30px;
  }

a {
  color: rgb(16, 140, 16);

}

a:hover {
  color: black;
}

#restaurantContainer {
  margin-bottom: 15px;
  margin-left: 15px;
}

/*This is for the Saved Recipes Page */

#savedBorder {
  border: 5px rgb(16, 140, 16);
  border-style: solid;
  border-radius: 20px;
  background-color: rgb(212, 255, 221);
  margin-top: 5px;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

 #savedContainer {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px 250px;
  column-gap: 15px;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
 }